.player {
  background-color: #3498db;

  min-width: 350px;
 
}

.player-stats{

  color: #fff;
  margin-left: 5px;
  padding-bottom: 5px;
}

.player h2{
  font-size: 30px;
}

.player p{
  font-size: 20px;
}

.health-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
}

.health-bar-progress {
  height: 100%;
  background-color: green;
  transition: width 0.3s ease-in-out;
}